<footer>
  <div class="footer-top-container">
    <h3 class="roboto footer-top-text">START TODAY FOR A BETTER TOMORROW</h3>
    <h1>Request A Quote</h1>
    <p>
      Construction Company is here 24/7 to get you scheduled for an in person
      estimate to address all your questions and concerns.
    </p>
    <button>Contact Us</button>
  </div>
  <hr class="footer-divider" />
  <div class="footer-bottom-container">
    <img
      alt="company logo"
      src="assets/img/logo.png"
      class="footer-company-logo"
    />
    <nav class="footer-nav">
      <ul>
        <li>
          <a href="" class="nav-link" tabindex="0">About Us</a>
        </li>
        <li>
          <a href="" class="nav-link" tabindex="0">FAQ</a>
        </li>
        <li>
          <a href="" class="nav-link" tabindex="0">Our Services</a>
        </li>
        <li>
          <a href="" class="nav-link" tabindex="0">Gallery</a>
        </li>
        <li>
          <a href="" class="nav-link" tabindex="0">Contact</a>
        </li>
      </ul>
    </nav>
    <div class="footer-social-container">
      <a href=""
        ><img class="footer-social-img invert" src="assets/img/facebook.svg"
      /></a>
      <a href=""
        ><img
          src="assets/img/thumbtack.png"
          class="footer-social-img"
          style="margin-top: 0.35rem"
      /></a>
    </div>
  </div>

  <small>&copy; 2025 Construction Company</small>
</footer>
