<nav class="roboto">
  <div class="nav-logo">
    <a class="site-link">
      <span class="company-logo"
        ><img src="/assets/img/logo.png" alt="Company Logo" />
      </span>
    </a>
  </div>
  <div class="site-link">
    <ul>
      <li><a href="" class="nav-link">About Us</a></li>
      <li><a href="" class="nav-link">FAQ</a></li>
      <li><a href="" class="nav-link">Our Services</a></li>
      <li><a href="" class="nav-link">Gallery</a></li>
      <li><a href="" class="nav-link">Contact</a></li>
    </ul>
  </div>
  <div class="nav-phone-menu-container">
    <div class="nav-phonenumber">
      <img />
      <span class="site-link">123-456-7890</span>
    </div>
    <button class="site-menu">
      <img class="menu-btn-svg" src="assets/img/menu.svg" aria-hidden="true" />
    </button>
  </div>
</nav>
