<div class="info-section-1-container">
  <div class="info-section-1-wrapper">
    <div class="info-section-1-top-section">
      <div class="info-section-1-top-left-subsection">
        <p class="info-section-question">
          need any construction solution support?
        </p>
        <p class="info-section-phone">(258) 1234-5678</p>
      </div>
      <p class="info-section-paragraph">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean in
        mauris fermentum, viverra elit at, facilisis ante.Sed lacinia vulputate
        cursus. Morbi suscipit sapien ut blandit sagittis. Phasellus pretium
        nulla sodales velit dictum congue.
      </p>
    </div>
    <hr class="info-section-divider" />
    <div class="info-section-1-bottom-section">
      <h2>We Assist in Choosing the Perfect Materials for Your Project</h2>
      <div class="info-section-cards">
        <div class="info-card">
          <div class="card-icon">
            <img src="/assets/img/wrench.svg" alt="Engineering icon" />
          </div>
          <h3>Engineering Techniques</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam.
          </p>
          <a href="#" class="view-more"
            >View More <span class="arrow">→</span></a
          >
        </div>

        <div class="info-card card-with-image">
          <img
            src="/assets/img/pm-card-bg.jpg
            "
            alt="Project Management"
            class="card-background"
          />
          <div class="card-content">
            <div class="card-icon">
              <img
                src="/assets/img/wrench.svg"
                alt="Engineering icon"
                class="invert-to-white"
              />
            </div>
            <h3>Project Management</h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam.
            </p>
            <a href="#" class="view-more"
              >View More <span class="arrow">→</span></a
            >
          </div>
        </div>

        <div class="info-card">
          <div class="card-icon">
            <img src="/assets/img/dollar.svg" alt="Financial icon" />
          </div>
          <h3>Financial Results</h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
            ad minim veniam.
          </p>
          <a href="#" class="view-more"
            >View More <span class="arrow">→</span></a
          >
        </div>
      </div>
    </div>
  </div>
</div>
